<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      <br>Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="-age">Newest</option>
        <option value="age">Oldest</option>
      </select>

    </div>
	</div>
  <div class="row">
    <div class="col-sm-12">
      <!--Body content-->

      <ul class="devices">
        <li ng-repeat="device in devices | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/devices/{{device.id}}" class="thumb"><img ng-src="{{device.imageUrl}}"></a>
          <a href="#/devices/{{device.id}}">{{device.name}}</a>
          <p>{{device.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
  </div>
</div>
