<h2>{{device.name}}</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
		<div class="device-images">
		  <img ng-src="{{device.imageUrl}}"
			   class="device" alt="Device Image">
		</div>
	</div>
	<div class="col-sm-10">
		<p>{{device.detail}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
	<H2>Scan Barcodes:</H2>
		<ul>
        <li ng-repeat="barcode in barcodes">
          <p>{{barcode.data | barcodefilter}}</p>
        </li>
      </ul>

</div>
</div>
</div>

